/* Pretendard */
@font-face {
	font-family: "Pretendard";
	font-weight: 100;
	src: url("/assets/fonts/Pretendard-Thin.woff2") format("woff2");
	// src: url("/Pretendard-Thin.woff2") format("woff2");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 200;
	src: url("/assets/fonts/Pretendard-ExtraLight.woff2") format("woff2");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 300;
	src: url("/assets/fonts/Pretendard-Light.woff2") format("woff2");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 400;
	src: url("/assets/fonts/Pretendard-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 500;
	src: url("/assets/fonts/Pretendard-Medium.woff2") format("woff2");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 600;
	src: url("/assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 700;
	src: url("/assets/fonts/Pretendard-Bold.woff2") format("woff2");
}
@font-face {
	font-family: "Pretendard";
	font-weight: 800;
	src: url("/assets/fonts/Pretendard-ExtraBold.woff2") format("woff2");
	unicode-range: U+AC00-D7A3;
}
@font-face {
	font-family: "Pretendard";
	font-weight: 900;
	src: url("/assets/fonts/Pretendard-Heavy.woff2") format("woff2");
}
/* Pretendard */
/* Poppins */
@font-face {
	font-family: "Poppins";
	font-weight: 400;
	src: url("/assets/fonts/Poppins-Regular.woff2") format("woff2");
}
@font-face {
	font-family: "Poppins";
	font-weight: 600;
	src: url("/assets/fonts/Poppins-SemiBold.woff2") format("woff2");
}
@font-face {
	font-family: "Poppins";
	font-weight: 700;
	src: url("/assets/fonts/Poppins-Bold.woff2") format("woff2");
}
/* Poppins */

// 와구리체
@font-face {
    font-family: 'WAGURITTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403@1.0/WAGURITTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

// 와이클로버체
@font-face {
    font-family: 'YClover-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/YClover-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

// 여기어때 잘난체 고딕
@font-face {
    font-family: 'JalnanGothic';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// 던파 비트비트체 v2
@font-face{
	font-family:'DNFBitBitv2';
	font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}